body{
    background-image: url('./bgpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
table{
    margin-left: 550px;
    border-collapse: collapse;
    border: 2px solid black;

}
td{
    border: 2px solid black;
}